.nav {
    grid-area: nav;
    background-color: aquamarine;
    padding: 20px;
  }

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .link {
    color: white;
    text-decoration: none;
  }

  .activeLink {
    color: gold;
    text-decoration: none;
  }